<section id="sign-up">
  <header>
    <h1>Sign Up!</h1>
  </header>
  <%= form_for User.new do |f| %>
    <p><%= f.label :full_name %><br />
    <%= f.text_field :full_name, size: 20 %> </p>
    <p><%=  f.label :email %><br /> 
    <%= f.email_field :email, size: 20 %></p>
    <p><%=  f.label :username %><br />
    <%= f.text_field :username, size: 20 %></p> 
    <p><%=  f.label :password %><br />
    <%= f.password_field :password, size: 20 %> </p> 
    <p><%=  f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, size: 20 %>  </p>
    <p class="button">
    <%= submit_tag "Submit" %></p>
  <% end %>
</section>
