  <p id="notice"><%= notice %></p>
  <header>
    <h1><%= @user.full_name %></h1>
    <h2>Username: @<%= @user.username %></h2>
    <h3><%= @user.tweets.first.content if @user.tweets.any? %></h3>
    <% if current_user?(@user) %>
    <h4><%= link_to "Edit Profile", edit_user_path(current_user) %>
    <% end %>
  </header>
  <section class="follow">
  <%= render partial: 'follow_button', locals: { user: @user } %>
  </section>
  <section class="tweets">
  <% if @user.tweets.any? %>
    <h2>Tweets</h2>
    <ol>
      <%= render @user.tweets %>
    </ol>
  <% else %>
    <h2>Shhhhh . . . I'm listening</h2>
  <% end %>
  </section>
</section>
