<header id="page_header" role="banner">
  <nav>
    <ul>
    <% if signed_in? %>
      <li>Welcome <strong><%= current_user.full_name %></strong></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Logout", "/signout" %></li>
    <% else %>
      <li><%= link_to "Login", "/signin" %></li>
    <% end %>
      <li><%= link_to "About Us", "/about-us" %></li>
    </ul>
  </nav>
  <%= link_to(
        image_tag("logo.png",
                  alt: "Texts: bring sms to your desktop",
                  id: "logo"),
        root_url,
        title: "Texts: bring sms to your desktop") %>
</header>
