<!DOCTYPE html>
<html>
<head>
  <title>Texts: bring sms to your desktop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash#{name}" %>
      <% end %>
      <section id="content">
        <section id="main-sidebar">
        <% if signed_in? %>
          <%= render partial: 'sidebar/profile' %>
        <% else %>
          <%= render partial: 'sidebar/login' %>
          <%= render partial: 'sidebar/signup' %>
        <% end %>
          <%= render partial: 'sidebar/footer' %>
        </section>
        <section id="main-content">
          <%= yield %>
        </section>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
